<!-- this is the sign_in.handlebars file inside the users folder of the views folder
views/users/sign_in.handlebars -->
<header class= "masthead">
<!--
  MB: The login form should not include a header, especially if it is the page header. 
      It should instead be inserted into the header of the page, which should be part of your layout.
-->
	
<form class="create-update-form login-form" action="/users/login" method="POST">

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" name="username">
  </div>

  <div class="form-group">
    <label for="pass">Password:</label>
    <input type="password" class="form-control" id="pass" name="user_password">
  </div>

  <button type="submit" class= "btn btn-outline btn-xl btn-trans">Sign In</button>
</form>

{{#if badUsername}}
  <p><strong>That username is not registered. Try another one!</strong></p>
  {{/if}}

  {{#if badPassword}}
  <p><strong>That is the wrong password for that username. Try again!</strong></p>
  {{/if}}
  </header>
