<h1>Registration</h1>
<form class="create-update-form" action="/users/register" method="POST">
 
  <div class="form-group">
    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="first_name">
  </div>

   <div class="form-group">
    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="last_name">
  </div>
  
  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
  </div>

  <div class="form-group">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email">
  </div>

  <div class="form-group">
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="user_password">
  </div>

  <button type="submit">Sign Up!</button>
</form>
